body{
    background-color: beige;
}

.box{
    border: 2px solid white;
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 55px;
    width: 859px;
    position: relative;
    top: -46px;
    right: -269px;
}

.searchbar{
    border: 2px solid;
    display: flex;
    flex-direction: row;
    height: 26px;
    width: 692px;
    position: relative;
    top: 11px;
    right: -9px;
}

.search{
    color: white;
    background-color: black;
    border: 2px solid;
    display: flex;
    flex-direction: row;
    height: 26px;
    width: 97px;
    position: relative;
    top: 11px;
    right: -48px;
}

nav{
    height: 45px;
    width: 100vw;
    border: 2px solid;
    background-color: #115f64;
    border: none;
}

ul{
    list-style: none;
    display: flex;
    gap: 17px;
    padding: 14px 20px;
}

li{
    font-size: 15px;
    color: white;
}